.Binputs {
   width: 510px;
   display: flex;
   justify-content: center;
   box-sizing: border-box;
   background-color: rgba(0, 0, 255, 0);
   margin: auto;
}

.content {
   width: 250px;
   margin-bottom: 30px;
   position: relative;
}

input {
   text-align: center;
   font-size: 0.8rem;
   width: 180px;
   height: 50px;
   border-radius: 5px;
   border: 2px solid #ccc;
   padding: 0 10px;
   box-sizing: border-box;
   position: relative;
}

input:focus {
   outline: none;
   border-color: #aaa;
   box-shadow: 0 0 2px 1px rgba(0, 0, 255, 0.3);
}

.symbol {
   border: 2px solid #ccc;
   background-color: rgba(234, 236, 236, 0.829);
   border-left: none;
   position: relative;
   font-size: 1rem;
   width: 50px;
   display: flex;
   height: 46px;
   align-items: center;
   justify-content: center;
   border-radius: 0px 5px 5px 0px;
}

.content_percent {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0px;
}

.percent {
   border-radius: 5px 0px 0px 5px;
   width: 130px;
   border-right: 0.5px solid #ccc;
}

.mbotton {
   margin-bottom: 10px;
}

.aprobado {
   margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.input_aprobado {
   height: 40px;
   width: 100px;
}

.more{
   display: flex;
   justify-content: center;
   gap: 30px;
   font-size: 1rem;
}

@media(max-width:500px){
   .Binputs{
      width: 284px;
   }

   input{
      width: 110px;
      height: 45px;
      font-size: 0.6rem;
   }

   .percent{
      width: 70px;
   }

   .symbol{
      height: 41px;
      width: 40px;
      font-size: 0.7rem;
   }

   .aprobado{
      font-size: 0.9rem;
   }

   h2{
      margin-bottom: 30px;
      font-size: 1.2rem;
   }



}
